<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<option data-bind="value:'choose_shipping_address_'+index,attr:{selected:isSelected() ? 'selected' :null }">
    <!-- ko text: address().prefix --><!-- /ko --> <!-- ko text: address().firstname --><!-- /ko -->
    <!-- ko text: address().lastname --><!-- /ko --> <!-- ko text: address().suffix --><!-- /ko -->
    <!-- ko text: address().street --><!-- /ko -->
    <!-- ko text: address().city --><!-- /ko -->, <!-- ko text: address().region --><!-- /ko -->
    <!-- ko text: address().postcode --><!-- /ko -->
    <!-- ko text: getCountryName(address().countryId) --><!-- /ko -->
    <!-- ko text: address().telephoone --><!-- /ko -->
</option>